body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 130px;
    margin: 10px;
}
button{
    margin: 10px;
    width: 130px;
}
.calc{
    width: 400px;
    height: 400px;
    background-color: gray;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    font-weight: 400;
}
#screen{
    height: 100px;
    border-bottom: 1px solid;
    background: gray;
    font-weight: 600;
}
#user-inputs{
    margin: 0;
    width: 90%;
    height: 30%;
    font-size: 22px;
}
#output{
    margin: 0;
    height: 60%;
    width: 90%;
    font-size: 35px;
}
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.flex-end{
    justify-content: flex-end;
}
.font-32{
    font-size: 32px;
}
.font-family{
    font-family: 'Open Sans', sans-serif;
}
.pointer{
    cursor: pointer;
}
.num1{
    grid-area: 3 / 1;
}
.num2{
    grid-area: 3 / 2;
}
.num3{
    grid-area: 3 / 3;
}
.num4{
    grid-area: 2 / 1;
}
.num5{
    grid-area: 2 / 2;
}
.num6{
    grid-area: 2 / 3;
}
.num7{
    grid-area: 1 / 1;
}
.num8{
    grid-area: 1 / 2;
}
.num9{
    grid-area: 1 / 3;
}
.num0{
    grid-area: 4 / 1;
}
.num0:hover, .num1:hover, .num2:hover, .num3:hover, .num4:hover, .num5:hover, .num6:hover, .num7:hover, .num8:hover, .num9:hover, .math:hover{
    background: #6d6c6c;
}